@import url("header.css");
@import url("button.css");
html {
  height: 100%;
}
html,
body {
  font-family: "NotoKrM", sans-serif;
  font-weight: normal;
  height: 100%;
  min-height: 100% !important;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select {
  font-family: "NotoKrM", sans-serif;
  transform: skew(-0.001deg);
}
.form-control,
.btn,
.btn-link,
.dropdown-item,
.input-group-text,
.custom-select,
.custom-file-label,
.tooltip,
.popover {
  font-family: "NotoKrR", sans-serif;
}
strong {
  font-family: "NotoKrB", sans-serif;
}
a {
  color: #041794;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #2f42c1;
  text-decoration: underline;
}
.form-control {
  height: calc(1.5em + 0.625rem + 2px);
  padding: 0.25rem 0.75rem 0.5rem 0.75rem;
  font-size: 0.875rem;
}
.form-control-xs {
  height: calc(0.875rem + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  line-height: 1;
  border-radius: 0.2rem;
}
.form-search {
  height: calc(1.5em + 0.625rem + 2px);
  padding: 0.375rem 0.75rem 0.375rem 0.75rem;
}

@font-face {
  font-family: "NotoKrR";
  font-style: normal;
  font-weight: 300;
  src: local("Noto Sans Regular"), local("NotoSans-Regular"),
    url(./fonts/NotoSansKR-Regular.eot);
  src: url(./fonts/NotoSansKR-Regular.eot?#iefix) format("embedded-opentype"),
    url(./fonts/NotoSansKR-Regular.woff2) format("woff2"),
    url(./fonts/NotoSansKR-Regular.woff) format("woff");
}
@font-face {
  font-family: "NotoKrM";
  font-style: normal;
  font-weight: 500;
  src: local("Noto Sans Medium"), local("NotoSans-Medium"),
    url(./fonts/NotoSansKR-Medium.eot);
  src: url(./fonts/NotoSansKR-Medium.eot?#iefix) format("embedded-opentype"),
    url(./fonts/NotoSansKR-Medium.woff2) format("woff2"),
    url(./fonts/NotoSansKR-Medium.woff) format("woff");
}
@font-face {
  font-family: "NotoKrB";
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans Bold"), local("NotoSans-Bold"),
    url(./fonts/NotoSansKR-Bold.eot);
  src: url(./fonts/NotoSansKR-Bold.eot?#iefix) format("embedded-opentype"),
    url(./fonts/NotoSansKR-Bold.woff2) format("woff2"),
    url(./fonts/NotoSansKR-Bold.woff) format("woff");
}

.font-bold {
  font-weight: 600 !important;
}
.font-light {
  font-family: NotoKrR !important;
}
.font-12 {
  font-size: 0.75rem;
}
.font-14 {
  font-size: 0.875rem;
}
.font-16 {
  font-size: 1rem;
}
.font-18 {
  font-size: 1.125rem;
}
.font-20 {
  font-size: 1.25rem;
}
.font-24 {
  font-size: 1.5rem;
}
.font-30 {
  font-size: 1.875rem;
}
.text-primary {
  color: #2f42c1 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #041794 !important;
}
.text-info-b {
  color: #98acff;
}
.title {
  font-weight: 600;
  color: #222;
}
.text_s {
  color: #999;
}
.text-d {
  color: #e5e5e5;
}
.text-muted {
  color: #6c757d !important;
}
.pt-10,
.py-10 {
  padding-top: 6rem !important;
}
.absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1px;
  height: 1px;
}
.wrap {
  width: 100%;
  min-height: calc(100vh - 85px);
  /*overflow-y: auto;*/
}
.wrap-upload {
  width: 100%;
  min-height: calc(100vh - 85px);
  background: url(../images/contents/bg-upload.png) center center;
  background-size: cover;
  background-position: 0 0;
}
.user-headbox {
  background-color: #e9e9e9;
  border-left: 1px solid #ccc;
}
.manager-headbox {
  background-color: #e9e9e9;
  font-size: 0.875rem;
  border: none;
}
.contents {
  width: 100%;
  height: calc(100% - 80px);
  padding-right: 15px;
  padding-left: 15px;
}
.contents-upload {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 85px);
  padding-right: 15px;
  padding-left: 15px;
  background: url(../images/contents/bg-upload.png) center center;
  background-size: cover;
}
.user-article-2 {
  width: calc(100% - 230px);
  padding: 0;
  height: 100%;
  min-height: 100%;
}

/* left slidemenu */
.cbp-spmenu-vertical {
  width: 250px;
  height: 100vh;
  min-height: 100%;
  position: relative;
  z-index: 999;
  top: 0;
  background: #fff;
}
.cbp-spmenu-left {
  left: 0px;
}
.cbp-spmenu-left.cbp-spmenu-open {
  left: 0px;
}
.cbp-spmenu {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.panel-group .panel {
  border-radius: 0;
  box-shadow: none;
  border-color: #eeeeee;
}
.panel-default > .panel-heading {
  padding: 0;
  margin: 0;
  border-radius: 0;
  color: #707070;
  background-color: #f8f8ff;
}
.panel-title ul {
  padding: 0;
}
.panel-title,
.panel-title li {
  font-size: 0.875rem;
  list-style: none;
}
.panel-title img {
  margin-right: 0.5rem;
}
.panel-title {
  color: #222;
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  border-bottom: 1px solid #fff;
}
.panel-title > a:hover {
  display: block;
  text-decoration: none;
}
.panel-title.top {
  padding: 0.5rem;
  border-bottom: 1px solid #dff5ff;
  background-color: #f5fbff;
}
.panel-title.top a > a:hover {
  display: block;
  text-decoration: none;
}
/* .panel-title .top li { 
  display: block;
  padding: 0.5rem;
  background-color: #f5fbff;
  border-bottom: 1px solid #dff5ff;
}
.panel-title .top li > a:hover {
  display: block;
  text-decoration: none;
}*/
.panel-heading.active {
  background-color: #e3e3ff;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #eeeeee;
}
.panel-body ul {
  list-style: none;
  padding-left: 1.5rem;
}
.panel-body li {
  padding: 0.375rem 0;
  font-size: 0.85rem;
}

/*.panel-title.top > a,
.panel-title.top li > a {
  background-color: #f5fbff;
  border-bottom: 1px solid #dff5ff;
}
.panel-title.top > a:hover,
.panel-title.top li > a:hover,
.panel-title.top > a:active,
.panel-title.top li > a:active,
.panel-title.top > a.active,
.panel-title.top li > a.active {
  background-color: #e5f3fb;
  border-bottom: 1px solid #70c0e7;
} */
.more-less {
  float: right;
  color: #212121;
}

/* left slidemenu toggle */
.sidebar-toggle-box {
  z-index: 99999999;
  float: left;
  margin-left: -15px;
  width: 32px;
  height: 32px;
  position: absolute;
  right: -32px;
  top: 0;
  cursor: pointer;
}

/* left menu - popup */
#sidebar-2 {
  width: 230px;
  height: 100%;
  position: relative;
  z-index: 999;
  border-right: 1px solid #cfd5d7;
  background: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  top: 0;
}

/* responsive -desktop */
@media (min-width: 1311px) {
  .user-list,
  .user-article,
  .user-video {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 100%;
    padding: 0;
    font-size: 0.75rem;
    font-family: "NotoKrR";
  }
  .info {
    width: 50%;
  }
  .sidebar-toggle-box {
    display: none;
  }
  .user-article {
    width: calc(100% - 250px);
  }
  .user-list {
    width: calc(100% - 47.5rem);
    border-left: 1px solid #ccc;
  }
  .user-video {
    -ms-flex: 0 0 47.5rem; /* width 160px */
    flex: 0 0 47.5rem;
    border-left: 1px solid #ccc;
  }
  .user-video-modal {
    display: none;
  }
}
/* responsive - tablet */
@media (min-width: 768px) and (max-width: 1310px) {
  .user-list,
  .user-article {
    position: relative;
    width: 100%;
    min-height: 100%;
    padding: 0;
    font-size: 0.875rem;
  }
  .user-article {
    width: calc(100% - 250px);
    padding: 0;
    border-left: 1px solid #ccc;
  }
  .user-headbox {
    border: none;
  }
  .cbp-spmenu-vertical {
    width: 250px;
  }
  .user-video {
    display: none;
  }

  .form-search {
    width: 13.75rem;
  }

  .view_option,
  .sidebar-toggle-box {
    display: none;
  }
  .info {
    width: 90%;
  }
}
/* responsive - mobile */
@media (max-width: 767px) {
  html,
  body {
    font-size: 90%;
  }
  .user-list,
  .user-article {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 0 0 100%;
    min-height: 100%;
  }

  .user-video {
    display: none;
  }
  .view_option {
    display: none;
  }
  .inv_mo {
    display: none;
  }
  .form-search {
    width: 10rem;
  }
  .info {
    width: 90%;
  }
  .location {
    padding-left: 3.25rem;
  }
  .table-thumbnail .img-thumbnail {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    width: 7.625rem;
    height: 4.75rem;
  }
  .table-video-info colgroup col {
    width: 100%;
  }
  .table-video-info th,
  .table-video-info td {
    display: block;
    font-size: 0.75rem;
    padding: 0.75rem 0rem 0.75rem 0.3rem;
  }
  .table-video-info td {
    padding-left: 1.25rem;
    color: #707070;
  }
  .table-video-info th {
    border-bottom: 0 !important;
  }
  .cbp-spmenu-vertical {
    width: 200px;
    height: auto;
    border-bottom: 1px solid #ccc;
    z-index: 1002;
    position: absolute;
    top: 72px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1),
      0 6px 20px 0 rgba(0, 0, 0, 0.1);
  }
  .cbp-spmenu-left {
    left: -190px;
  }
  .badge-outline {
    vertical-align: text-bottom;
    padding: 0.4em 0.4em 0.25em;
  }
}

/* login */
#wrap_login {
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  top: 0;
}
.bg_login {
  width: 100%;
  height: 37.5rem;
  background: url(../images/login/bg_school.png) no-repeat center top #ccc;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(0, 0);
}
.box_signin {
  width: 18.75rem;
  height: auto;
  margin: 0 auto;
}

.signin {
  width: 27.5rem;
  height: 31.25rem;
  z-index: 100;
  max-width: 31.25rem;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 10rem;
  transform: translate(-50%, 0);
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1),
    0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.box_signin h1 {
  font-size: 1.5rem !important;
  text-align: center;
  font-weight: bold;
  margin-top: 2.5rem;
}

.box_signin h2 {
  font-size: 1rem !important;
  text-align: center;
  color: #ccc;
  margin-bottom: 1.875rem;
}

.signin .checkbox {
  font-weight: 400;
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 6px;
}

.signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 0.625rem;
  font-size: 1rem;
}

.signin .form-control:focus {
  z-index: 2;
}

.signin input[type="email"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.signin input[type="password"] {
  margin-bottom: 0.938rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.signin label {
  font-size: 1rem;
  margin-top: 4px;
}

section {
  margin: 0 auto;
}
.info {
  position: absolute;
  height: auto;
  left: 50%;
  top: 45rem;
  transform: translate(-50%, 0);
}
.info_01,
.info_02,
.info_03 {
  width: 100%;
}
.info_01 ul {
  padding: 20px 0 0 10px;
}
.info_01 li {
  list-style: none;
  text-align: left;
  font-size: 1rem;
  line-height: 2rem;
}
.info_01 h1 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
}

.info_01 h2 {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 47px;
}
.info_01 .img-01 {
  background: url(../images/login/intro_0101.png) no-repeat 90% 90%;
}
.info_01 .img-02 {
  background: url(../images/login/intro_0102.png) no-repeat 95% 95%;
}
.info_01 .img-03 {
  background: url(../images/login/intro_0103.png) no-repeat 90% 95%;
}
.info_03 .media {
  border-bottom: 1px solid #ddd;
  padding: 2rem 0;
}
.info_03 .media-body {
  padding-top: 1.6rem;
}
.figure {
  display: inline-block;
  margin: 0 0 1rem;
}

.figure-img {
  margin-bottom: 2rem;
  line-height: 1;
}

.figure-caption {
  font-size: 1.4em;
  color: #707070;
  text-align: center;
}

footer {
  width: 100%;
  height: 50px;
  font-size: 1rem;
  text-align: center;
  color: #999;
  margin-top: 6.25rem;
}

.modal-dialog {
  overflow-y: initial !important;
}
.modal-body {
  height: 100%;
  overflow-y: auto;
}
.videowrap {
  width: 100%;
  border: 1px solid #ccc;
  position: relative;
  padding-bottom: 56.25%;
}
.videowrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.videowrap .btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 26px;
  z-index: 10000;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
}
/* margin padding */
.ms-auto {
  margin-left: auto !important;
}
.bg-primary {
  background-color: #2f42c1 !important;
}
/* fancytree */
span.fancytree-empty,
span.fancytree-vline,
span.fancytree-expander,
span.fancytree-icon,
span.fancytree-checkbox,
span.fancytree-drag-helper-img,
#fancytree-drop-marker {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: top;
  background-repeat: no-repeat;
  background-image: url("../vendor/fancytree/images/icons.gif");
  background-position: 0px 0px;
}
.fancytree-connectors .fancytree-exp-n span.fancytree-expander,
.fancytree-connectors .fancytree-exp-nl span.fancytree-expander {
  background-image: url("../vendor/fancytree/images/icons.gif");
  margin-top: 0;
}
.fancytree-loading span.fancytree-expander,
.fancytree-loading span.fancytree-expander:hover,
.fancytree-statusnode-loading span.fancytree-icon,
.fancytree-statusnode-loading span.fancytree-icon:hover,
span.fancytree-icon.fancytree-icon-loading {
  background-image: url("../vendor/fancytree/images/loading.gif");
  background-position: 0px 0px;
}
span.fancytree-node {
  /* See #117 */
  display: inherit;
  width: 100%;
  margin-top: 0px;
  padding: 8px 0 8px 0;
}
span.fancytree-title {
  color: #222222;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  min-height: 20px;
  padding: 0 3px 0 3px;
  margin: 0px 0 0 3px;
  border: 1px solid transparent;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
table.fancytree-ext-table {
  font-family: "NotoKrM", sans-serif;
  font-size: 0.75rem;
  border-collapse: collapse;
  /* ext-ariagrid */
}
table.fancytree-ext-table tbody tr td {
  border-bottom: 1px solid #ededed;
  border-top: none;
  border-right: none;
  border-left: none;
}
.badge-outline {
  background-color: #f8f8ff;
  border: 1px solid #d6e0ff;
  color: #98acff;
  vertical-align: text-bottom;
  padding-right: 0.188rem;
  padding-left: 0.188rem;
  padding-bottom: 0.125rem;
  padding-top: 0.125rem;
  font-weight: normal;
  font-size: 0.375rem;
}
a.badge-outline:hover,
a.badge-outline:focus {
  background-color: #fff;
  border: 1px solid #d6e0ff;
  color: #98acff;
}
a.badge-outline:focus,
a.badge-outline.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}
.table-video-info th,
.table-video-info td {
  font-size: 0.75rem;
  font-weight: normal;
}
.table-video-info td {
  padding-left: 1.25rem;
  color: #707070;
}
.table-thumbnail {
  width: 100%;
}
.table-thumbnail th {
  text-align: center;
  background-color: #f8f8f8;
  border-bottom: 2px solid #eee;
  padding: 0.625rem 0;
  font-weight: 500;
}
.table-thumbnail td {
  border-bottom: 1px solid #eee;
  padding: 0.625rem 0;
}
.table-thumbnail .img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  width: 110px;
  height: 70px;
}
.modal-header {
  background-color: #2f42c1;
}
.modal-title {
  color: #fff;
  margin-bottom: 0;
  line-height: 1.5;
}
.modal-header .close {
  color: #fff;
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto;
  text-shadow: 0 1px 0 #000;
  opacity: 0.5;
}
.tooltip-custom {
  position: relative;
  display: inline;
}
.tooltip-custom .tooltiptext {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 0.5rem;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  margin-left: -80px;
  top: 100%;
  left: 50%;
  width: 100px;
}
.tooltip-custom:hover .tooltiptext {
  visibility: visible;
}
/* contents upload */
.contents-upload .media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 1rem;
  padding: 3rem;
  background-color: #fff;
  border: 1px solid #eee;
  cursor: pointer;
}
.contents-upload .media:hover {
  background: #f8f8ff;
  border: 1px solid #98acff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.contents-upload .media .media-body {
  -ms-flex: 1;
  flex: 1;
  height: 110px;
}
@media (min-width: 768px) and (max-width: 1310px) {
  .contents-upload .media .media-body h3 {
    font-size: 1.25rem;
  }
  .contents-upload .media .media-body img {
    width: 54px;
  }
}
.contents-upload .media .media-body img {
  padding-right: 10px;
}
.contents-upload .media-02 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 1rem;
  padding: 3rem;
  color: #fff;
  cursor: pointer;
}
.contents-upload .media-02:hover {
  color: #98acff;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.contents-error {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../images/contents/bg-error.png) center center no-repeat;
  background-size: cover;
  padding-right: 15px;
  padding-left: 15px;
}
/* upload */
.upload-box {
  background-color: #fff;
  border: 1px solid #ccc;
  height: 100%;
}
.upload-box nav {
  font-family: "NotoKrM", sans-serif;
}
.upload-box .tab-content {
  min-height: 400px;
}
.upload-box .nav-tabs .nav-link {
  border: none;
  padding: 1rem 1.75rem;
  color: #222;
}
.upload-box .nav-tabs .nav-link img {
  margin: 0 0.25rem 0.25rem 0;
}
.upload-box .nav-tabs .nav-link:hover,
.upload-box .nav-tabs .nav-link:focus {
  background-color: #fffaf2;
  border-bottom: 3px solid #f49310;
  color: #222;
}

.upload-box .nav-tabs .nav-link.disabled {
  color: #6c757d;
  background-color: transparent;
  border-color: transparent;
}

.upload-box .nav-tabs .nav-link.active,
.upload-box .nav-tabs .nav-item.show .nav-link {
  background-color: #fffaf2;
  border-bottom: 3px solid #f49310;
  color: #f49310;
}
.upload-box .nav-pills {
  background-color: #fafafa;
  padding: 0.5rem;
  border-bottom: 1px solid #f1f1f1;
}
.upload-box .nav-pills .nav-link {
  color: #707070;
  background: none;
}
.upload-box .nav-pills .nav-link.active,
.upload-box .nav-pills .nav-link:hover,
.upload-box .nav-pills .nav-link:focus {
  color: #f49310;
}

.upload-box .nav-pills .nav-link img {
  margin: 0 0.5rem 0.25rem 0;
}

.upload-box .tab-pane .tab-content {
  padding: 20px !important;
  overflow-y: hidden;
}
.upload-box .tab-pane .tab-content .card-header {
  background-color: #fffaf2;
}
/* plupload */
.plupload_container {
  padding: 0;
}
.plupload_header {
  height: 1px;
  background-image: none;
  background-color: #ddd;
}
.plupload_header_content,
.plupload_header_title,
.plupload_header_text {
  width: 0;
  height: 0;
  visibility: hidden;
}
.plupload_filelist_header,
.plupload_filelist_footer {
  background: #dfdfdf;
  padding: 5px 8px;
  color: #42454a;
}
.plupload_scroll .plupload_filelist {
  height: 60px;
  background: #f5f5f5;
  overflow-y: scroll;
}
#fileupload-bundle .plupload_scroll .plupload_filelist {
  height: 120px;
}

#fileupload-3ch-01 .plupload_scroll .plupload_filelist {
  height: 190px;
}
.plupload_filelist li {
  padding: 6px 8px;
  background: #f5f5f5 url("../images/plupload/backgrounds.gif") repeat-x 0 -156px;
  border-bottom: 1px solid #ddd;
}
li.plupload_droptext {
  border: 0;
  line-height: 40px;
}
#fileupload-bundle li.plupload_droptext {
  border: 0;
  line-height: 100px;
}
#fileupload-3ch-01 li.plupload_droptext {
  border: 0;
  line-height: 170px;
}

/* manager */
.manager-article {
  width: calc(100% - 200px);
  border-left: 1px solid #ccc;
}
.manager-list {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 0;
  font-size: 0.875rem;
  font-family: "NotoKrR";
}
.leftnav-manager {
  width: 200px;
  height: 100%;
  position: relative;
  z-index: 999;
  top: 0;
  background: #fff;
}
.leftnav-manager ol {
  list-style: none;
  margin: 1rem 0.75rem;
  padding: 0;
}
.leftnav-manager ol li {
  color: #222;
}
.leftnav-manager ol li ol {
  margin: 0.5rem 0 1rem 1.5rem;
}
.leftnav-manager ol li ol li {
  padding-bottom: 3px;
}
.leftnav-manager ol li a {
  color: #707070;
  font-size: 14px;
  padding-right: 20px;
}
.leftnav-manager ol li a.active,
.leftnav-manager ol li a:focus {
  color: #2f42c1;
  text-decoration: none;
  background: url(../images/icon/f-arrow-sm.png) no-repeat right 60%;
}
.leftnav-manager ol li a:hover {
  color: #2f42c1;
}

#input-start,
#input-end {
  background: url(../images/icon/calendar.png) no-repeat 95px 50% #fff;
}
.table-manager {
  width: 100%;
}
.table-manager th,
.table-manager td {
  font-size: 0.75rem;
}
.table-manager th {
  text-align: center;
  background-color: #f8f8f8;
  border-bottom: 2px solid #eee;
  padding: 0.625rem 0;
  color: #222;
  font-weight: normal;
}
.table-manager td {
  border-bottom: 1px solid #eee;
  padding: 0.625rem 0;
  color: #707070;
}
.table-manager .img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  width: 110px;
  height: 70px;
}
.table-manager tbody tr:hover {
  background-color: #f8f8ff;
}
.table-manager caption {
  padding: 0.75rem 0 0.5rem 0.75rem;
  font-size: 0.875rem;
  color: #222;
  text-align: left;
  caption-side: top;
}

.table-row {
  width: 100%;
  border-top: 1px solid #eee;
}
.table-row th,
.table-row td {
  font-size: 0.75rem;
  border-bottom: 1px solid #eee;
}
.table-row th {
  text-align: center;
  background-color: #f8f8f8;
  padding: 0.625rem 0;
  color: #222;
  font-weight: normal;
}
.table-row td {
  padding: 0.625rem 0 0.625rem 0.625rem;
  color: #707070;
}
.table-row .img-logo {
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  padding: 5px;
  width: 110px;
  height: auto;
}
.table-row caption {
  padding: 0.75rem 0 0.5rem 0.75rem;
  font-size: 0.875rem;
  color: #222;
  text-align: left;
  caption-side: top;
}

/* helpdesk */
.helpdesk {
  font-size: 0.875rem;
}
.helpdesk .card-header {
  padding: 0.5rem 0.75rem;
  margin-bottom: 0;
  background-color: #f8f8f8;
  border-bottom: none;
}
.helpdesk .card-header a {
  background: url(../images/icon/tree_minus.png) no-repeat right center;
}
.helpdesk .card-header .collapsed {
  background: url(../images/icon/tree_plus.png) no-repeat right center;
}
.helpdesk .card-body {
  color: #707070;
  line-height: 1.6;
  padding: 1rem 1rem 1rem 3rem;
  background: url(../images/icon/help-a.png) no-repeat 1.25rem 1rem;

  font-family: "NotoKrR", sans-serif;
}

.helpdesk .btn-link {
  font-weight: 400;
  color: #222;
  text-decoration: none;
}

.helpdesk .btn-link:hover {
  color: #2f24c1;
  text-decoration: none;
}

.helpdesk .btn-link:focus,
.helpdesk .btn-link.focus {
  color: #2f24c1;
  text-decoration: underline;
}

.helpdesk .btn-link:disabled,
.helpdesk .btn-link.disabled {
  color: #6c757d;
  pointer-events: none;
}

.modal-addfolder {
  position: relative;
  list-style-type: none;
  width: 100%;
  padding: 0;
}
.modal-addfolder a:hover {
  text-decoration: none;
}
.modal-addfolder .icon {
  position: absolute;
  left: 20px;
  top: 0px;
  font-size: 30px;
  color: #707070;
}
.modal-addfolder .text {
  margin-left: 40px;
}
.modal-body .searchBox {
  margin: 17px 0 10px 0px;
  position: relative;
}
.modal-body .searchBox input.form-control {
  width: 100%;
}
.modal-body .searchBox .icon-search {
  position: absolute;
  z-index: 9;
  right: 10px;
  top: 3px;
  color: #f49310;
}
.modal-addfolder2 {
  position: absolute;
  left: -4px;
  top: -32px;
}
