/* CSS Nav menu styles */
.navbar {
  padding-top: 0.7rem; /* 0.875rem = 14px */
  padding-bottom: 0.7rem;
}

.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
}
.navbar-brand a,
.navbar-brand a:hover {
  color: #fff;
  text-decoration: none;
  padding: 0;
}
.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.navbar-nav .dropdown-menu {
  position: static;
}

.navbar-text {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar-collapse {
  align-items: center;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
}
.navbar-light .navbar-brand {
  color: #fff;
}

.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: #98acff;
  margin: 0.5rem;
  border-radius: 3rem;
  padding: 0.5rem 1.25rem 0.625rem 1.25rem;
  font-size: 1rem;
  border: 1px solid #98acff;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: #2f42c1;
  background-color: #fff;
  border: 1px solid #fff;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.dropdown-menu-header {
  border-radius: 0.25rem;
  color: #707070;
  min-width: 14.875rem;
}
.dropdown-menu-header li {
  text-indent: 0.5rem;
  height: 1.8rem;
  line-height: 1.8rem;
  font-size: 0.875rem !important;
}
.dropdown-menu-header li a {
  text-indent: 0;
}
.dropdown-menu-setting {
  border-radius: 0.25rem;
  color: #707070;
  min-width: 5rem;
}
.dropdown-menu-setting li {
  text-indent: 0.1rem;
  height: 2rem;
  line-height: 2rem;
  font-size: 0.75rem !important;
}
/* 사용자가이드 */
.navbar-light .navbar-nav .nav-link2 {
  color: #98acff;
  padding: 0.6rem 1.5rem 0.6rem 2rem;
  margin-left: 1rem;
  height: 2.5rem;
  line-height: 3.5rem;
  font-size: 1rem;
  border: 0;
  background: url(../images/icon/guide.png) no-repeat 3px 7px;
}
.navbar-light .navbar-nav .nav-link2:hover,
.navbar-light .navbar-nav .nav-link2:focus {
  color: #fff;
  padding: 0.6rem 1.5rem 0.6rem 2rem;
  margin-left: 1rem;
  height: 2.5rem;
  line-height: 3.5rem;
  border: 0;
}

/* responsive -desktop */
@media (min-width: 1311px) {
  .navbar-nav {
    padding-left: 3.125rem;
  }
}
